<div class="locations-grid">
  <div class="locations-grid__header">
    <h2>Nearby Amenities</h2>
    <p>Find restrooms, wifi, showers, and more near you.</p>
  </div>
  
    {{> map-container
    title="Boulder Amenities Map"
    subtitle="Explore locations near you"
    mapId="main-map"
    showControls=true
  }}

  <div class="locations-grid__cards">
    {{#each locations}}
      {{> locationbox}}
    {{/each}}
  </div>
</div>
