<div class="container text-center mt-3">
  <h1>AmenityFinder</h1>
  <p>Discover amenities near you</p>
</div>

<div class="locations-grid">
  <div class="locations-grid__header">
    <h2>Nearby Amenities</h2>
    <p>Find restrooms, wifi, showers, and more near you.</p>
  </div>

  <div class="locations-grid__cards">
    {{#each locations}}
      {{> locationbox}}
    {{/each}}
  </div>
</div>
