<div class="container text-center mt-3">
  <h1>AmenityFinder</h1>
  <p>Discover amenities near you</p>
</div>

<div class="locations-grid">
    {{> map-container
    title="Amenities Map"
    subtitle="Explore locations near you"
    mapId="main-map"
    showControls=true
  }}

  <div class="locations-grid__cards">
    {{#each locations}}
      {{> locationbox}}
    {{/each}}
  </div>
</div>
