<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="mb-4">Login</h2>

      <form action="/loginuser" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control {{#if usernameError}}is-invalid{{/if}}"
            id="username"
            name="username"
            value="{{username}}"
          />
          {{#if usernameError}}
            <div class="invalid-feedback">{{usernameError}}</div>
          {{/if}}
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control {{#if passwordError}}is-invalid{{/if}}"
            id="password"
            name="password"
          />
          {{#if passwordError}}
            <div class="invalid-feedback">{{passwordError}}</div>
          {{/if}}
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>

      <p class="mt-3">
        Don't have an account? <a href="/register">Register here</a>
      </p>
    </div>
  </div>
</div>