<nav class="navbar">
  <div class="navbar__brand">
    <img src="/img/icon_test.png" alt="logo" class="navbar__logo" />
  </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/edit">Edit</a></li>
  </ul>
</nav>