<nav class="navbar">
  <div class="navbar__brand">
    {{! Logo or app name goes here }}
  </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/edit">Edit</a></li>
  </ul>
</nav>
