<nav>
  <a href="/home" class="nav-logo">
    <div class="nav-logo-mark">AF</div>
    AmenityFinder
  </a>
  <ul class="nav-links">
    <li><a href="/home" class="active">Home</a></li>
    <li><a href="/locations">Locations</a></li>
    <li><a href="/edit">Add Location</a></li>
    <li><a href="/profile">Profile</a></li>
  </ul>
  <!-- TODO: change to profile avatar when logged in -->
  <div class="nav-user">
    <a href="/login" class="nav-user-btn">Log In</a>
  </div>
</nav>