<nav>
  <a href="/home" class="nav-logo">
    <div class="nav-logo-mark">AF</div>
    AmenityFinder
  </a>
  
  {{! searchbar }}
  <form class="nav-search" action="/locations" method="GET">
    <input class="nav-search__input" type="text" name="q" placeholder="Search locations…" autocomplete="off" />
    <button class="nav-search__btn" type="submit">&#128269;</button>
  </form>
  <ul class="nav-links">
    <li><a href="/home" class="{{#if (eq activePage 'home')}}active{{/if}}">Home</a></li>
    <li><a href="/locations" class="{{#if (eq activePage 'locations')}}active{{/if}}">Locations</a></li>
    <li><a href="/edit" class="{{#if (eq activePage 'edit')}}active{{/if}}">Add Location</a></li>
    <li><a href="/profile" class="{{#if (eq activePage 'profile')}}active{{/if}}">Profile</a></li>
  </ul>
  <!-- TODO: change to profile avatar when logged in -->
  <div class="nav-user">
    <a href="/login" class="nav-user-btn">Log In</a>
  </div>
</nav>