<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>AmenityFinder</title>
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/location-card.css" />
  <link rel="stylesheet" href="/css/navbar_style.css" />
</head>
<body class="page">
  {{> navbar}}

  <main class="page__content">
    {{{body}}}
  </main>

  {{> footer}}

</body>
</html>
